@mixin theme($primary-color, $rotate: 120deg, $darkenpct: 20%) {
    $other-color: adjust-hue($primary-color, $rotate);
    $other2-color: adjust-hue($primary-color, 180deg);
    $secondary-color: adjust-hue($primary-color, -$rotate);

    .btn-primary {
        @include btn-based($primary-color, 0); 
    }
    

    .btn-secondary {
        @include btn-based($secondary-color);
    }
    

    .btn-other {
        @include btn-based($other-color);
    }
    

    .btn-other2 {
        @include btn-based($other2-color);   
    }
}

@mixin btn-based($bg, $darken_pct: 20%) {
    background-color: darken($bg, $darken_pct);
    border-color: darken($bg, 20%);

    &:hover {
        background: lighten(saturate($bg, 20%), 10%);
    }
}

